@import "tailwindcss";

@theme {
  --font-sans: "Satoshi", "Courier New", monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white; /* Dark background so white text shows */
}